{% block content %}
<div class="container py-5 text-white">
  <h2>Informations du joueur</h2>
  <ul class="list-group">
    <li class="list-group-item">Email : {{ user_detail.email }}</li>
    <li class="list-group-item">Ubisoft : {{ user_detail.ubisoft_username }}</li>
    <li class="list-group-item">Discord : {{ user_detail.discord_username }}</li>
    <li class="list-group-item">PSN : {{ user_detail.psn_username }}</li>
    <li class="list-group-item">Xbox : {{ user_detail.xbox_username }}</li>
    <li class="list-group-item">Steam : {{ user_detail.steam_username }}</li>
  </ul>
</div>
{% endblock %}
